@mixin text-break {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

@mixin titles {
    .h1, .h2, .h3, .h4, .h5, .h6,
    h1, h2, h3, h4, h5, h6 {
        @content;
    }
}

@mixin nolinelink {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

@mixin linelink {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}
@mixin clear {
    @include clearfix;
}