@charset "UTF-8";
//variables
//helpers
//reset
//typo...
//libs (ui-selectmenu, ui-spinner, icheckbo)
//layouts (l-grid, l-container, l-wrapper)
//objects (o-btn, o-field)
//components (c-form)
//modules (m-contacts, m-articles)

//TEST


// VARIABLES
@import "vars/_font";
@import "vars/_size";
@import "vars/_color";

// HELPERS
@import "helpers/mixins";
@import "helpers/functions";
@import "helpers/breakpoints";
//@import "helpers/breakpoints-extended";

// RESETS
@import 'libs/normalize';

// UTILITIES
@import 'utilities/align';
@import 'utilities/color';
@import 'utilities/float'; 
@import 'utilities/font'; 
@import 'utilities/hide'; 
@import 'utilities/margin'; 
@import 'utilities/radius'; 
@import 'utilities/ratio'; 
@import 'utilities/text';

    

// BASE
@import "base/root";
@import 'base/reset';
@import 'base/typo';
@import 'base/tables';
@import 'base/grids';

// LAYOUTS 
//    grid
//    kazkas elementam deliot graziai ([button] [button] link           [button])

// OBJECTS
//    btn
//    input
//    select
//    badge
//    label
//    breadcrumb
//    pagination [--dots]
    

// COMPONENTS
//    article
//    forms
//    dropdown
//    modal
//    lightbox
//    slider
//    tabs
//    collapse

// MODULES

    
    
    
/*
    kazkur ikist visokius listu stilius (.s-list).. gal prie .s-table 
    */